body { background: white; }

/* tabs */
#tabnav
{
padding: 3px 0;
margin-left: 0;
border-bottom: 1px solid #778;
font: bold 12px Verdana, sans-serif;
}

#tabnav li
{
list-style: none;
margin: 0;
display: inline;
}

#tabnav li a
{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #778;
border-bottom: none;
background: #f0f0f0;
text-decoration: none;
}

#tabnav li a:link { color: #202020; }
#tabnav li a:visited { color: #202020; }

#tabnav li a:hover
{
color: #000;
background: #aaaaaa;
border-color: #227;
}

#tabnav li a#current
{
background: white;
border-bottom: 1px solid white;
}

/* Report view style */
.report-view { font: small; }

table.overflown-text td { overflow:hidden; white-space:nowrap; }
div#ci-name { overflow:hidden; text-align: left; padding-right: 2px; width: 350px; overflow: hidden; text-overflow: ellipsis;}

table.compliance-details { border-top: solid 1px #000000; border-right: solid 1px #000000; margin-bottom: 15px; width: 85%; }
table.compliance-details td,
table.compliance-details th { border-left: solid 1px #000000; border-bottom: solid 1px #000000; padding: 2 3 2 3; }
table.compliance-details td { text-align: center; }
table.CI-details { text-align: left; margin-bottom: 10px; margin-top: 20px; max-width: 600px; }
table.CI-details th { font-variant: small-caps; padding-right: 10px; font-size: 16; }
span.CI-details { padding: 3 10 3 10; }
div.section { margin-top: 30px; }
div.contents { margin-left: 25px; }

/* Xml view style */
.xml-view {font:x-small 'Verdana'; margin-right:1.5em}
.c  {cursor:hand}
.b  {color:red; font-family:'Courier New'; font-weight:bold;
text-decoration:none}
.e  {margin-left:1em; text-indent:-1em; margin-right:1em}
.k  {margin-left:1em; text-indent:-1em; margin-right:1em}
.t  {color:#990000}
.xt {color:#990099}
.ns {color:red}
.dt {color:green}
.m  {color:blue}
.tx {font-weight:bold}
.db {text-indent:0px; margin-left:1em; margin-top:0px;
margin-bottom:0px;padding-left:.3em;
border-left:1px solid #CCCCCC; font:small Courier}
.di {font:small Courier}
.d  {color:blue}
.pi {color:blue}
.cb {text-indent:0px; margin-left:1em; margin-top:0px;
margin-bottom:0px;padding-left:.3em; font:small Courier;
color:#888888}
.ci {font:small Courier; color:#888888}
pre {margin:0px; display:inline}
